{% load static %}
<html>
    <head>
        <title>Rohith's Blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link href="https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap" rel="stylesheet" type="text/css" >
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <div class="page-header">
      <p><a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a></p>
      <h1>Rohith's Blog</h1>
      
    </div>
    {% block content %}
    {% endblock %}
</html>
